extends ../layout

block head
    script(src='/js/links/links.js')

block content
    h2 #{settings.courseCode} (#{settings.deliveryId})

    a(href='links/settings') Settings

    details(open)
        summary Quick link
        div#quickLinkGenerator(style={display:'none'})
            div#quickLink
                p
                    img#quickLinkQr.qr
                    a#quickLinkText

            button#commandCopyQuickLink(type='button' onclick='jf.copyElementToClipboard("quickLink")') &#128203; Copy

        p URL:&nbsp;
            input#fieldQuickLink(type='search' oninput='jf.updateQuickLink()')

    details(open)
        summary Survey
        div#survey
            p
                img(src=surveyQrDataUrl alt=settings.surveyUrl).qr
                a(href=settings.surveyUrl) #{settings.surveyUrl}

        button(type='button' onclick='jf.copyElementToClipboard("survey")') &#128203; Copy

    details(open)
        summary Lab Setup
        div#lab
            h2 To redeem the lab key and access labs:
            ul
                li Go to <a href='aka.ms/esilab'>aka.ms/esilab</a>
                li Login using a <strong>Microsoft account</strong> (personal email)
                li Enter the lab key: <strong>#{settings.labKey}</strong>
                    br
                    | (You only need to do redeem the key once)
            if settings.isCloudSlice
                p Labs will be available for 180 days from activation. Each lab can be performed up to 10 times.
            else
                p Once the lab key is redeemed, you will be given credits to complete the lab. The credits will expire 30 days after they are redeemed.
            p <strong>Be sure to redeem the lab key before the end of the course.</strong>

        button(type='button' onclick='jf.copyElementToClipboard("lab")') &#128203; Copy

    details(open)
        summary My links
        div#divPrivateLinks

        h2 Create new link
        form#formAddLink
            span Label:&nbsp;
            input#fieldPrivateLinkName(type='label' placeholder='Label' required)
            span URL:&nbsp;
            input#fieldPrivateLinkUrl(type='url' placeholder='URL' required)
            button#commandAddLink(type='button' onclick='jf.addPrivateLink()') Add