extends ../layout

block content
    h2 Link settings

    form(method='post')
        fieldset
            legend Course settings
            table
                tr
                    td
                        label(for='fieldCourseCode') Course code:
                    td
                        input(type="text" name="courseCode" id="fieldCourseCode" value=settings.courseCode required)
                tr
                    td
                        label(for='fieldLanguage') Language:
                    td
                        select(name="language" id="fieldLanguage")
                            option(value="en" selected=settings.language=='en') English
                            option(value="fr" selected=settings.language=='fr') French
                tr
                    td
                        label(for='fieldDeliveryId') Delivery ID:
                    td
                        input(type="text" name="deliveryId" id="fieldDeliveryId" value=settings.deliveryId)
                tr
                    td
                        label(for='fieldSurveyUrl') Survey URL:
                    td
                        input(type="text" name="surveyUrl" id="fieldSurveyUrl" value=settings.surveyUrl)
                tr
                    td
                        label(for='fieldLabKey') Lab key:
                    td
                        input(type="text" name="labKey" id="fieldLabKey" value=settings.labKey)
                tr
                    td
                        label(for='fieldIsCloudSlice') Cloud Slice lab:
                    td
                        input(type="checkbox" name="isCloudSlice" id="fieldIsCloudSlice" checked=settings.isCloudSlice)
        p
            button(type="submit") Save

    p
        a(href='/links') Back to course