doctype html

h1 #{title} (<a href="#{url}">#{url}</a>)

each path in paths
    h2 #{path.title} (<a href="#{path.url}">#{path.url}</a>)
    each module in path.modules
        details
            summary #{module.title} (<a href="#{module.url}">#{module.url}</a>)
            each unit in module.units
                p #{unit.title} (<a href="#{unit.url}">#{unit.url}</a>)
