extends ../layout

block content
    h2 Select units for #{title}
    p
        a(onclick='selectAll()' href='#') Select All
        span &nbsp;|&nbsp;
        a(onclick='selectNone()' href='#') Deselect All
    form(action='/kc/generate')
        input(type='hidden' name='courseId' value=studyGuide.courseId)
        input(type='hidden' name='locale' value=studyGuide.locale)
        input(type='hidden' name='format' value=studyGuide.format)

        button(type='submit') Generate
        each path in studyGuide.paths
            each module in path.modules
                h2 #{module.title}
                each unit in module.units
                    if unit.questions.length
                        p
                            input(type='checkbox' value=true name=unit.id id=unit.id checked)
                            label(for=unit.id) #{module.title} - #{unit.title}

        button(type='submit') Generate

    script(src='/javascripts/kc/units.js')